.sidebar-wrapper {
    height: 100vh;
    overflow-y: scroll;
}

.page {
    padding: 20px 0;
    background-color: #fff;
}
 h1{
     text-align: center;
     margin-bottom: 30px;
 }
.box{
    background: #fff;
    box-shadow: 1px 1px 10px 1px #aaa;
  
}

.type_message {
    position: fixed;
    left: 380px;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.type_message input {
    margin: 0;
    border: none;
    width: 95%;
    height: 30px;
    padding: 0 10px;
}

.type_message .btn {
    border-radius: 0 !important;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
